<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

    <xacro:include filename="$(find tops_amr1_description)/urdf/tops_amr1.xacro" />
    <xacro:include filename="$(find tops_amr1_description)/urdf/materials.xacro" />
    <xacro:include filename="$(find tops_amr1_description)/urdf/tops_amr1.trans" />
    <xacro:include filename="$(find tops_amr1_description)/urdf/gazebo_control.xacro" />
    <xacro:include filename="$(find tops_amr1_description)/urdf/lidar.xacro" />
    
</robot>